@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>Buses del sur</h1>
    <p class="lead">Empresa comprometida con un buen servcio a sus clientes</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Informacion Adicional</h2>
        <p>
            Bajo cuanquier pregunta que tenga que ver con el sistema comuniquese con el Administrador de el sistema 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Reglamentos</h2>
        <p>Si usted desea ver el reglamento interno para su labor presione aqui.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contactos</h2>
        <p>Si usted quiere saber los numeros de contacto necesarios presione aqui.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>